.main {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

.component__block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  max-width: 50%;
  padding: 2rem;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.skeleton {
  width: 300px;
  padding: 2rem;
}

.dark {
  background-color: #000000FF;
}